<style>
  :host {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, Helvetica, Arial,
      sans-serif, "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    margin: 2rem auto;
    max-width: 800px;
    display: block;
  }
</style>

<div class="content" role="main">
  <h1>A sample embed</h1>
  <p>
    This demonstrates an embed of the UNDRR content syndication feature in
    Angular.
  </p>
  <h2>Sample embed</h2>
  <app-undrr-widget
    [pageid]="'92409'"
    [suffixID]="'sfmhomepage'"
  ></app-undrr-widget>

  <app-undrr-widget
    [pageid]="'92410'"
    [suffixID]="'sfmanalyticspage'"
  ></app-undrr-widget>

  <h2>Files to note</h2>
  <code>
    <pre>
  src/
  │── app/
  │   ├── components/
  │   │   ├── undrr-widget/
  │   │   │   ├── undrr-widget.component.ts  <-- Widget component
  │   ├── services/
  │   │   ├── script-loader.service.ts       <-- Service for loading script
  │   ├── app.module.ts                      <-- Register component
  │   ├── app.component.html                 <-- Widget component invoked here
  │   ├── app.component.ts
  │── index.html
  │── main.ts      
  </pre
    >
  </code>
</div>
<router-outlet />
